.dashboard__container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.count__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 25px !important;
}

.tabs__content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
